body{
    background: url(file:///media/alpha/Code%20Bank/HTML/Shantonu%20Profile/photo/bsdc%20motor.jpg);
    background-repeat : no-repeat;
    background-size : 100%;
}
.bdTitle{color:#006495; 
         background : orange;
         border-width : 2px;
         border-style : solid;
         border-color : black;
         font-size : 20px;
         text-transform : uppercase;
         font-family : arial;
}


.shantonu{color:#006495; 
         background : orange;
         
         border : 2px solid black
}

.ontor{color:#006495; 
       background : orange;
       
       border-top : 2px solid green;
       border-bottom : 2px solid red
       
}



.ojay{
       color:red; 
       border-top : 2px solid green;
       border-bottom : 2px solid red;
       background : url(file:///media/alpha/Code%20Bank/HTML/Photo/shantonu.jpg);
       width : 150px;
       display : block;
       background-repeat : no-repeat;
       
}







.about{
    color : green;
    border : 2px solid black;
    width : 250px;
    padding : 5px 5px 5px 10px;
    border-radius : 10px;

}




.box{
width : 200px
}

.box img{
    width : 100%;
}
