#freelancer{background : orange; color : white;font-size:25px}
#Hi{background : red; color : white;font-size:25px}
.ontor{background : blue; color : white;font-size:25px}
.shantonu{background : green; color : red;font-size:25px}